/* Copyright 2011 Lawrence Kesteloot */

body {
    margin: 2em;
    font-family: sans-serif;
}

body.board div, td {
    cursor: default;
}

body.board div.message {
    margin-top: 1em;
    margin-bottom: 1em;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}

body.board .board td div {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 50px;
}

body.ipad .board td div {
    width: 80px;
    height: 80px;
    font-size: 60px;
}

body.board table.board {
    margin-bottom: 1em;
}

body.board table.board .white {
    background: #eee;
}

body.board table.board .black {
    background: #ccc;
}

body.board table.board td.clicked {
    background-color: #B02020;
}

body.board table.board td.highlight {
    background-color: #20B020;
}

body.board table.board td.destination {
    background-image: url(checkerboard.png);
}

body.board table.board td.highlight1 {
    background-color: #CFC;
}

body.board table.board td.highlight2 {
    background-color: #AFA;
}

body.board table.board td.highlight3 {
    background-color: #8F8;
}

body.board table.board td.highlight4 {
    background-color: #6F6;
}

body.board table.board td.highlight5 {
    background-color: #4F4;
}

body.board table.board .side {
    /* Nothing */
}

body.board table.game {
    margin-left: 5em;
}

body.board table.game td {
    padding-right: 1.5em;
    font-family: sans-serif;
}

body.ipad #moveTextField, body.ipad #autoPlayCheckbox, body.ipad #autoPlayLabel,
    body.ipad #showAtRiskCheckbox, body.ipad #showAtRiskLabel {

    display: none;
}

/* -------------------------------------------------------------------------------------- */

body.menu button {
    width: 200px;
    height: 120px;
    font-size: 24px;
}
